<script src="class.js" ></script>

<script >

    const bosch = new WashingMachine();

    bosch.plugIn();
    bosch.turnOn();
    bosch.run();

    const lightBulb = new LightSource();

    lightBulb.plugIn();
    lightBulb.turnOn();
    lightBulb.setLevel(90);


    const honda = new Car();
    honda.turnOn();
    honda.setPosition(10, 20);
    honda.setSpeed(60);
    honda.run(300, 800);

</script>